<strong>
  Olá, {{ provider}}
</strong>
<p>
  Houve um novo cadastro de EPIS, confira os detalhes abaixo:
</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>EPI: </strong> {{epis}} <br />
  <strong>Numero do CA: </strong> {{numberca}} <br />
  <br />
  <small>
    Confira todas as incrições no nosso app ou site.
  </small>
</p>
